<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>3215C3E3-9382-4083-B53C-70E5149AD3D8</string>
	<key>CFBundleName</key>
	<string>Test_dummy</string>
	<key>CFBundleVersion</key>
	<string>0</string>
</dict>
</plist>
