<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>62B569E5-A40B-4DC0-9B68-913AEA969F30</string>
	<key>CFBundleName</key>
	<string>ReadMails</string>
	<key>CFBundleVersion</key>
	<string>0</string>
</dict>
</plist>
