<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>4E962F7F-1268-4209-A5FA-3369A62CA626</string>
	<key>CFBundleName</key>
	<string>DeleteMailsfromTrash</string>
	<key>CFBundleVersion</key>
	<string>0</string>
</dict>
</plist>
